<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="default">

<!-- jquery -->
<script th:src="@{/jquery/jquery-1.11.0.min.js}"></script>

<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/bs/css/bootstrap.css}">
<script th:src="@{/bs/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bs/font-awesome-4.7.0/css/font-awesome.css}">

<!-- bootstrap-treeview -->
<link rel="stylesheet" th:href="@{/bs-tv/css/bootstrap-treeview.css}">
<script th:src="@{/bs-tv/js/bootstrap-treeview.min.js}"></script>

<!-- mustache模板渲染  -->
<script th:src="@{/mustache/mustache.js}"></script>

<!-- zTree -->
<link rel="stylesheet" th:href="@{/ztree/zTreeStyle.css}">
<script type="text/javascript"
	th:src="@{/ztree/jquery.ztree.all.min.js}"></script>
	
<!-- notiflix通知提示插件 -->	
<link rel="stylesheet" th:href="@{/notiflix/notiflix-1.3.0.min.css}">
<script th:src="@{/notiflix/notiflix-1.3.0.min.js}"></script>


<link rel="stylesheet" th:href="@{/jquery-treetable/jquery.treetable.min.css}" />
<link rel="stylesheet" th:href="@{/jquery-treetable/jquery.treetable.theme.default.min.css}" />
<script th:src="@{/jquery-treetable/jquery.treetable.min.js}"></script>


        <link rel="stylesheet"  th:href="@{/mytools/common.css}" />
        <!-- <link rel="stylesheet"  th:href="@{/mytools/slide.css}" />
        <link rel="stylesheet"  th:href="@{/mytools/flat-ui.min.css}" />
        <link rel="stylesheet"  th:href="@{/mytools/jquery.nouislider.min.css}"> -->


</head>