<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<title>班级管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body th:fragment="default">
<script id="courseListTemplate" type="x-tmpl-mustache">
{{#courseList}}
	<div class="row">
         <div class="col-xs-1">{{courseno}}</div>
         <div class="col-xs-2">{{name}}</div>
         <div class="col-xs-1">{{credit}}</div>
		 <div class="col-xs-1">{{period}}</div>
         <div class="col-xs-1">{{teacherName}}</div>
         <div class="col-xs-1">{{showStartTime}}</div>
         <div class="col-xs-1">{{showEndTime}}</div>
         <div class="col-xs-1">{{classroom}}</div>
		 <div class="col-xs-1">{{majorName}}</div>
         <div class="col-xs-2">
			<shiro:hasPermission name="course:update">
				<a href="javascript:void(0)"  id="roleUpdate" onclick="edit(this)" data="{{id}}">
					 <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#reviseUser">修改</button>
				</a>
			</shiro:hasPermission>
			<shiro:hasPermission name="course:delete">
				<a href="javascript:void(0)"  onclick="deleteRole(this)" dataId="{{id}}" dataName="{{name}}">					 
					<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteUser">删除</button>
				</a>
			</shiro:hasPermission>
         </div>
    </div>
{{/courseList}}
</script>
<script type="text/javascript">
var majorMap={};
//获取模板里面的HTML内容
var template = $("#courseListTemplate").html();
//用Mustache.parse()解析一下，让Mustache能够识别并渲染页面
Mustache.parse(template);
//分页的回调函数
function pageCallBack(subData){
	var rendered = Mustache.render(template,{
		courseList:subData,
        "showStartTime":function(){
        	var d=new Date(this.starttime);
        	var times=d.getFullYear() + '-' + (d.getMonth() + 1);
        	return times;
        },
	 	"showEndTime":function(){
     	var d=new Date(this.endtime);
     	var times=d.getFullYear() + '-' + (d.getMonth() + 1);
     	return times;
    	}
	});
	$("#courseList").html(rendered);
}
$(function() {
	loadCourseList();
	//loadMajor();
});
function loadCourseList(){
	$.ajax({
		url : "/course/courseList",
		async : true,
		type : "POST",
		success : function(result) {
			if (result.result) {
				initPage(result.data);
			} else {
				Notiflix.Notify.Failure(result.msg);
			}
		},
		error : function() {
			Notiflix.Notify.Failure("请求失败");
		},
		dataType : "json"
	});
}
function loadSdept(){
	$.ajax({
		url : "/student/loadSdept",
		async : true,
		type : "POST",
		success : function(result) {
			if (result.result) {
				var sdeptList=result.data;
				for(var i=0;i<sdeptList.length;i++){
					var sdept=sdeptList[i];
					var option="<option value='"+sdept.id+"'>"+sdept.name+"</option>";
					$("#sdeptSelect").append(option);
					sdeptMap[sdept.id]=sdept;
					var majorList=sdept.majorList;
					for(var j=0;j<majorList.length;j++){
						var major=majorList[j];
						var option="<option value='"+major.id+"'>"+major.name+"</option>";
						$("#majorSelect").append(option);
						majorMap[major.id]=major;
						var teamList=major.teamList;
						for(var x=0;x<teamList.length;x++){
							var team=teamList[x];
							var option="<option value='"+team.id+"'>"+team.name+"</option>";
							$("#teamSelect").append(option);
							teamMap[team.id]=team;
						}
					}
				}
			} else {
				Notiflix.Notify.Failure(result.msg);
			}
		},
		error : function() {
			Notiflix.Notify.Failure("请求失败");
		},
		dataType : "json"
	});
}
function sdeptChange(e){
	var sdeptId=$(e).val();
	$.ajax({
        url : "/student/queryStudentBySdeptId?sdeptId="+sdeptId,
        async : true,
        type : "POST",
        // 成功后开启模态框
        success : function(result){
        	if(result.result){
				initPage(result.data);
        	}else{
        		Notiflix.Notify.Info(result.msg);
        	}
        },
        error : function() {
        	Notiflix.Notify.Info("请求失败!");
        },
        dataType : "json"
    });
	
}
function majaorChange(e){
	var majorId=$(e).val();
	$.ajax({
        url : "/student/queryStudentByMajorId?majorId="+majorId,
        async : true,
        type : "POST",
        // 成功后开启模态框
        success : function(result){
        	if(result.result){
				initPage(result.data);
        	}else{
        		Notiflix.Notify.Info(result.msg);
        	}
        },
        error : function() {
        	Notiflix.Notify.Info("请求失败!");
        },
        dataType : "json"
    });
}
function teamChange(e){
	var teamId=$(e).val();
	$.ajax({
        url : "/student/queryStudentByTeamId?teamId="+teamId,
        async : true,
        type : "POST",
        // 成功后开启模态框
        success : function(result){
        	if(result.result){
				initPage(result.data);
        	}else{
        		Notiflix.Notify.Info(result.msg);
        	}
        },
        error : function() {
        	Notiflix.Notify.Info("请求失败!");
        },
        dataType : "json"
    });
}
function query() {
	var name=$("#queryRoleByName").val();
	$.ajax({
        url : "/student/queryStudentByName?name="+name,
        async : true,
        type : "POST",
        // 成功后开启模态框
        success : function(result){
        	if(result.result){
				initPage(result.data);
        	}else{
        		Notiflix.Notify.Info(result.msg);
        	}
        },
        error : function() {
        	Notiflix.Notify.Info("请求失败!");
        },
        dataType : "json"
    });
}
</script>
<div class="tab-pane">
         <div class="check-div form-inline">
	             <div class=" col-xs-3">
                     <button class="btn btn-info btn-md" data-toggle="modal" data-target="#saveModal">新增课程 </button>
	             </div>
	             <div class=" col-xs-3">
	                                               专业筛选：<select id="majorSelect" name="available" onchange="majorChange(this)">
				                        <option value="" selected>请选择</option>
								 </select>
	             </div>
	             <div class="col-xs-6" style=" padding-right: 40px;text-align: right;">
	                    <div class="input-group">
							<input id="queryRoleByName" type="text" class="form-control" placeholder="输入课程名称查询!" name="name">
							<span class="input-group-addon btn btn-primary" onclick="query()">soso</span>
			   			</div>
	             </div>
         </div>
         <div class="data-div">
           		 <div class="row tableHeader">
	                  <div class="col-xs-1 ">课程编号 </div>
	                  <div class="col-xs-2">课程名称</div>
	                  <div class="col-xs-1">学分</div>
	                  <div class="col-xs-1">学时</div>
	                  <div class="col-xs-1">任课教师</div>
	                  <div class="col-xs-1">开课时间</div>
	                  <div class="col-xs-1">结课时间</div>
	                  <div class="col-xs-1">上课教室</div>
	                  <div class="col-xs-1">所属专业</div>
	                  <div class="col-xs-2">操作</div>
                  </div>
                  <div class="tablebody" id="courseList">
                  </div>
        </div>
        <div align="center"><div th:include="/common/page::html"></div></div>
</div>
</body>
</html>